:root {
  --text-color: #2b2b1a;
  --footer-color: #575755;
  --background-color: #f1f0ea;
  --mouseover: #baba99;
  --ship-color: #000a2d;
  --missed-shot: #e23c3c;
  --hit-shot: #4b0000;
}

@font-face {
  font-family: title;
  src: url(./fonts/RussoOne-Regular.ttf);
}

@font-face {
  font-family: para;
  src: url(./fonts/Ubuntu-Medium.ttf);
}

body {
  background-color: var(--background-color);
  font-family: para;
  color: var(--text-color);
}

#content {
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  width: 100vw;
  justify-content: space-around;
}

.title-logo {
  font-family: title, 'Trebuchet MS', 'Lucida Sans Unicode';
  font-size: 3.5rem;
}

#message {
  margin-top: 1.5rem;
}

.user-side,
.pc-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.85rem;
}

.user-board,
.pc-board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  margin-bottom: 0.5rem;
}

.cell {
  border: 1px solid var(--footer-color);
  height: 1.75rem;
  aspect-ratio: 1/1;
  margin: 0 -1px -1px 0;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: var(--footer-color);
}
